<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userSQL">

    <insert id="write" parameterType="user">
        insert into usertable values(#{name} , #{id} , #{pwd})
    </insert>

  <!--   <select id ="getUserList" resultType="user">
        select * from usertable
    </select> -->

    <select id="getUser" parameterType="String" resultType="user">
        select * from usertable where id=#{id}
    </select>
    
    <select id="isExistId" parameterType="String" resultType="String">
        select
           (case when count(*) = 0  then 'non_exist'
              else 'exist' end) as "result"
         from usertable where id=#{id}
    </select>

    <select id="search"  parameterType="java.util.Map">
        select * from usertable where
        <choose>
            <when test="c=='name'">
                name like '%' || #{value} || '%'
            </when>

            <otherwise>
                id like '%' || #{value} || '%'
            </otherwise>

        </choose>
    </select>


    <update id="update" parameterType="user">
        update usertable set name=#{name}, pwd=#{pwd} where id=#{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from usertable where id=#{id}
    </delete>

   <!-- 목록 -->
   <select id="getUserList" parameterType="java.util.Map" resultType="user">
      <![CDATA[
      SELECT * FROM 
      (SELECT ROWNUM RN, TT.* FROM
      (SELECT * FROM usertable) TT 
      )WHERE RN >= #{startNum} AND RN <= #{endNum}
      ]]>
   </select>
   
   <select id="getTotal" resultType="int">
      select count(*) from usertable
   </select>

   <insert id="upload" parameterType="user.bean.UserImageDTO">
        insert into USER_IMAGE_BOARD values(seq_userimage.nextval, #{imageName}, #{imageContent}, #{image1})
    </insert>
    
    <select id="getImageList" resultType="user.bean.UserImageDTO">
      select seq, image_name as "imageName", image_content as "imageContent", image1 as "image1" from user_image_board order by seq desc
   </select>

</mapper>